bcrypt==3.2.0
flake8==6.0.0
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-JWT==0.3.2
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
PyJWT==1.4.2
pytest==7.3.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.2
python-slugify==5.0.2
SQLAlchemy==1.4.39
Werkzeug==2.3.6
WTForms==3.0.1
