{% extends "base.html"%} {% block content %}

<main>
  <!-- Banner -->
  <section class="banner">
    <div class="background">
      <div class="blur"></div>
      <img src="/assets/images/banner.webp" alt="banner" />
    </div>
    <h1 class="banner-text">Delete BLog</h1>
    <h5 class="banner-description">
      Where you can delete your blogs
    </h5>
  </section>

  <!-- Blog list -->
  <section class="container blog-list mt-5 mb-5">
    <h2 class="title text-center mb-5">Blog list</h2>
    {% if blogs is defined and blogs|length > 0: %} {% for blog in blogs %}
    <div class="blog-wrapper">
      <h3 class="blog-title">{{ blog.title }}</h3>
      <h5 class="blog-subtitle">{{ blog.subtitle }}</h5>
      <p class="post-info font-italic">
        <img src="/assets/icons/clock.svg" alt="clock" />
        Posted by {{ blog.author }} on {{ blog.date_posted }}
      </p>
      <a href="{{ url_for("delete_by_id", id=blog.id )}}">
        <button type="button" class="btn btn-primary">Delete</button>
      </a>
    </div>
    {% endfor %} {% else %}
    <p class="text-center">Oops! No blog found 😔</p>
    {% endif %}
  </section>
</main>

{% endblock %}
